@tailwind base;
@tailwind components;
@tailwind utilities;

.textshadow {
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

.custom-gradient {
  background: rgb(105, 14, 22);
  background: linear-gradient(
    117deg,
    rgba(105, 14, 22, 0.9920343137254902) 17%,
    rgba(136, 18, 28, 0.9920343137254902) 48%,
    rgba(212, 50, 50, 0.9640231092436975) 76%
  );
 }

.custom-gradient:hover {
  background: linear-gradient(
    117deg,
    rgba(212, 50, 50, 0.9640231092436975) 17%,
    rgba(136, 18, 28, 0.9920343137254902) 48%,
    rgba(105, 14, 22, 0.9920343137254902) 76%
  );
}
