@tailwind base;
@tailwind components;
@tailwind utilities;

.textshadow {
  text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}

.custom-gradient {
  background: rgb(185,167,200);
  background: linear-gradient(65deg, rgba(185,167,200,1) 0%, rgba(49,32,64,1) 48%, rgba(34,22,45,1) 100%); }

.custom-gradient:hover {
  background: rgb(185,167,200);
background: linear-gradient(240deg, rgba(185,167,200,1) 0%, rgba(49,32,64,1) 48%, rgba(34,22,45,1) 100%); 
}
